* {
    padding:0;
    margin:0;
  }
  
  
  .container {
    background: url('Texture.jpg');
    height:100vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: Lobster;
  }
  
  section {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    transition: all .5s;
  }
  
  section:hover {
    flex:2;
  }
  
  section h1 {
    background:rgba(0,0,0,0.6);
    color:lightgreen;
    padding: 12px 32px;
  }
  
  .info{
    background:rgba(0,0,0,0.6);
    color:lightgreen;
    padding: 12px 32px;
    width:8%;
    margin-left: -19px;
  }
  
  
  .source{
    background: url('Gateway.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    font-family: Sail;
  }
  
  
  .metro{
    position: relative;
    background: url('Train.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    font-family: Sail;
  }

  .path{
    color: rgb(255, 255, 255);
    background:rgba(0,0,0,0.63);
    border:10px solid transparent;
    border-image: url("https://imgs.search.brave.com/7hhM2_pqFW_akcxhfWHy6QG5a11QvueG2r-lOn5VrgA/rs:fit:841:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC51/UDRUakUyU1lQZUFf/ZUc2RnQtMWVnSGFF/TCZwaWQ9QXBp") 30 stretch;
    font-family: Merriweather ;
    width: 100%;
    height: 83%;
    margin-top: 48px;
  }
  
  #route{
    white-space: normal;
  }
  .title{
  position: absolute;
  bottom:89%;
  }
  
  .destination{
    background: url('MarineLines.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    font-family: Sail;
  }

  .sub-head{
    font-weight: bolder;
    font-size: larger;
    color: rgb(41, 212, 255);
  }

  .gmaps{
    width: 100%;
  }