* {
    margin: 0;
    padding: 0;
}

.font-effect-shadow-multiple {
    font-family: "Trirong", serif;
}

.heads {
    border: 10px ridge rebeccapurple;
    font-family: Cinzel, serif;
    color: rgb(5, 0, 94);
}

.back {
    background: url("/ProjectImages/TwoTrains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: bottom;
}

h1 {
    border: 10px groove red;
    border-radius: 30px;
    font-family: 'Courgette';
    font-size: 22px;
    font-weight: 400;
    font-size: 58px;
}

.float-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.float-child {
    display: block;
    background-color: linen;
    box-shadow: 10px 10px 5px rgb(126, 126, 126);
    padding: 10px;
    margin: 10px;
}

.ThVsh {
    display: block;
    background-color: linen;
    box-shadow: 10px 10px 5px rgb(126, 126, 126);
    padding: 10px;
    margin: 10px;
    height: 223px;
}

.VasPan {
    display: block;
    background-color: linen;
    box-shadow: 10px 10px 5px rgb(126, 126, 126);
    padding: 9px;
    height: 352px;
    margin-left: 872.4px;
    margin-right: 79px;
    margin-bottom: 115px;
    margin-top: -682px;
    width: 246px;
}

.Metro {
    display: block;
    background-color: linen;
    box-shadow: 10px 10px 5px rgb(126, 126, 126);
    padding: 9px;
    margin-top: 7px;
    margin-left: -231px;

}

.Mono {
    display: block;
    background-color: linen;
    box-shadow: 10px 10px 5px rgb(126, 126, 126);
    padding: 9px;
    margin-right: 50px;
    margin-top: 8px;
    margin-left: 51px;
}

#jrnyimg {
    margin-top: -726px;
    margin-right: -65px;
    margin-bottom: 443px;
    margin-left: 762px;
    height: 300px;
}