@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.component-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column wrap;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    -webkit-transition: background-color 200ms ease-out;
    transition: background-color 200ms ease-out;
}

.switch__connect4 {
    position: relative;
    width: 6rem;
    height: 3rem;
    border-radius: 20%;
    -webkit-transition: background-color 100ms ease-out;
    transition: background-color 100ms ease-out;
    z-index: 1;
}
.switch__connect4:before,
.switch__connect4:after {
    content: "";
    position: absolute;
    top: 0;
    background-color: inherit;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    z-index: -1;
}
.switch__connect4:before {
    left: -0.5rem;
}
.switch__connect4:after {
    right: -0.5rem;
}

.switch__connect4:hover {
    cursor: pointer;
}

.toggle-button {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: #353535;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 100ms ease-in-out;
    transition: -webkit-transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
    z-index: 3;
    border: 0.05rem solid #353535;
    top: -0.05rem;
}

.header_is-lit {
    color: #61dafb;
    text-shadow: 0;
}

.header_is-dark {
    color: #000411;
    text-shadow: 0 0 3rem #61dafb;
}

.switch_is-off {
    background-color: #ff495c;
}

.switch_is-on {
    background-color: #3ddc97;
}

.toggle-button_position-left {
    -webkit-transform: translateX(-1.05rem);
    transform: translateX(-1.05rem);
}

.toggle-button_position-right {
    -webkit-transform: translateX(4.05rem);
    transform: translateX(4.05rem);
}

.button-text {
    font-size: 150%;
    margin: 10%;
    text-transform: capitalize;
}
